.playList {
  overflow-y: scroll;
  height: 430px;
  width: 153px;
  background: #fff;
  padding: 10px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-left-color: #424242;
  border-top-color: #424242;
  color: black;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.playListName {
  background-color: #fff;
  width: fit-content;
  margin-bottom: 5px;
}
.playListName {
  cursor: pointer;
}

.playListName:hover {
  color: white;
  background-color: #000a71;
}

.active {
  color: white;
  background-color: #000a71;
}

.link {
  color: black;
}

.link:hover {
  color: white;
}
.playlistform-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.playlistform-logo {
 width: 40%;
 display: flex;
 justify-content: center;
}

.playlistform-logo > img {
  object-fit: cover;
  width: 100px;
  height: 100px;

}

.playlistform-content-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.playlistform-content-form-name, .playlistform-content-form-desc {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.playlistform-content-form-name > input {
  width: 100%;
  border: 1px solid #cccccc;
  height: 30px;
  padding-left: 5px;
}

.playlistform-content-form-desc > textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #cccccc;
  padding-left: 5px;
  resize: none;
}
